.custom-section-item {
  display: flex;
  min-width: 150px;
  max-width: 200px;
  height: 100%;
  padding: var(--custom-padding-value);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--section-item-background);
  border-radius: var(--custom-border-radius);

  &__redirection {
    text-decoration: none;
    color: var(--section-secondary-text-color);
  }

  &:hover {
    background: var(--section-item-hover-background);
    cursor: pointer;

    .custom-section-item-play-button {
      display: flex;
      visibility: visible;
      opacity: 1;
      bottom: 15px;
    }
  }
}

.test {
  background-color: green !important;
}

.custom-dropdown-item {
  border-radius: 0;
  color: initial;

  &:hover {
    background-color: red !important;
    color: white !important;
  }
}
