.custom-section-item {
  display: flex;
  width: 200px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--section-item-background);
  border-radius: var(--custom-border-radius);

  &:hover {
    background: var(--section-item-hover-background);
    cursor: pointer;
  }

  &__image {
    position: relative;
    width: 100%;
    height: auto;
  }

  &__play-button {
    z-index: 100;
    display: flex;
    position: absolute;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    background-color: var(--spotify-theme-color);
    outline: none;
    border: none;
    font-size: 2rem;
    padding-left: 2px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .anticon {
      color: #000;
    }
  }

  &__play-icon {
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &__informations {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.artist {
  font-weight: 500;
  margin-top: 5px;
  color: var(--section-secondary-text-color);
  width: fit-content;

  &:hover {
    color: var(--main-text-color);
    text-decoration: underline;
  }
}
