.password-reset-redirection {
  &__hyperlink {
    padding-left: 5px;
    color: var(--main-text-color);

    &:hover {
      color: var(--spotify-hyperlink-color);
    }
  }
}

.separator {
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  border-width: 1px;
  border-style: inset;
  border-color: var(--separator-color);
  margin: 40px 0;
}

.sign-up-redirection {
  &__text-before {
    color: var(--text-before-hyperlink-color);
  }

  &__hyperlink {
    padding-left: 5px;
    color: var(--main-text-color);

    &:hover {
      color: var(--spotify-hyperlink-color);
    }
  }
}
