.form-item {
  margin-bottom: 5px;

  &__label {
    color: var(--main-text-color);
  }

  .ant-form-item-label {
    padding: 0;
  }

  .ant-radio-wrapper {
    padding: 3px 0;
    color: var(--main-text-color);

    .ant-radio-checked > .ant-radio-inner {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }
  }

  .ant-checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    color: var(--main-text-color);

    .ant-checkbox {
      align-self: flex-start;
      padding-top: 3px;
    }

    .ant-checkbox-checked > .ant-checkbox-inner {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }

    &:hover {
      .ant-checkbox-inner {
        border-color: var(--secondary-color);
    }

    .ant-checkbox-checked::after {
      border: none;
      content: none;
      outline: none
    }

    .ant-checkbox-input:checked {
      + .ant-checkbox-inner {
        border-color: var(--secondary-color);
        background-color: var(--secondary-color);
      }

      + .ant-checkbox-inner::after {
        border-color: var(--main-text-color);
      }
    }
    }
  }




  .input-type-switch {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    color: var(--main-text-color);

    .ant-switch {
      background-color: var(--disabled-switch-color);

      &:hover {
        background-color: var(--disabled-switch-color);
      }

      &-checked {
        background-color: var(--spotify-theme-color);

        &:hover {
          background-color: var(--spotify-theme-color);
        }
      }
    }

    &__label {
      margin-left: 10px;
    }
  }
}
