.form-item {
  margin-bottom: 5px;

  .ant-form-item-label {
    padding: 0;
  }

  &__label {
    color: var(--main-text-color);
  }

  .ant-radio-wrapper {
    padding: 3px 0;
    color: var(--main-text-color);

    .ant-radio-checked > .ant-radio-inner {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }
  }

  .ant-checkbox-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    color: var(--main-text-color);

    .ant-checkbox {
      align-self: flex-start;
      padding-top: 3px;
    }

    .ant-checkbox-checked > .ant-checkbox-inner {
      border-color: var(--secondary-color);
      background-color: var(--secondary-color);
    }
  }
}
