.sidebar-navigation {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--sidebar-navigation-background-color);
  border-radius: var(--custom-border-radius);

  ul {
    width: 100%;
    list-style-type: none;

    li {
      padding: 10px var(--custom-padding-value);

      .sidebar-navigation-item {
        color: var(--text-before-hyperlink-color);

        &--active {
          color: var(--main-text-color);
        }
      }

      a {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 700;

        &:hover {
          color: var(--main-text-color);
        }

        span {
          margin-right: 10px;
          font-size: 1.4rem;
        }
      }
    }
  }
}
