.sidebar {
  display: flex;
  width: 300px;
  min-width: 150px;
  max-width: 300px;
  height: calc(100vh - 20px);
  flex-direction: row;
  background-color: gray;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__resizer {
    flex-basis: 6px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: col-resize;
    justify-self: flex-end;
    resize: horizontal;

    &:hover {
      width: 3px;
      background: #c1c3c5b4;
    }
  }
}
