.sidebar {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: var(--page-wrapper-gap) 0 0 var(--page-wrapper-gap);

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__resizer {
    flex-basis: 3px;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: col-resize;
    justify-self: flex-end;
    resize: horizontal;

    &:hover,
    &:active {
      width: 3px;
      background: #c1c3c5b4;
    }
  }
}
