.music-player-container {
  grid-area: footer;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--music-player-background-color);
  gap: 20px;
}
