.footer-container {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--footer-background-color);
}

@media screen and (max-width: 1100px) {
  .footer-container {
    grid-template-columns: 1fr 340px 1fr;
  }
}
