body {
  //colors
  --secondary-color: #127c37;
  --main-text-color: #fff;
  --disabled-switch-color: #727272;

  --spotify-theme-color: #1ed760;
  --spotify-theme-hover-color: #1fdf64;
  --spotify-hyperlink-color: #1db954;

  --separator-color: #292929;
  --text-before-hyperlink-color: #a7a7a7;

  --nav-button-color: #090909;
  --navbar-text-color: #a5a5a5;
  --landing-page-main-background: #101010;
  --navbar-sign-in-button-background-color: #fff;
  --navbar-sign-in-button-text-color: #232323;

  //border-radius
  --custom-border-radius: 10px;
}
