body {
  /* colors */
  --secondary-color: #127c37;
  --main-text-color: #fff;
  --disabled-switch-color: #727272;

  --spotify-theme-color: #12873b;
  --spotify-theme-hover-color: #1fdf64;
  --spotify-hyperlink-color: #1db954;

  --separator-color: #292929;
  --text-before-hyperlink-color: #a7a7a7;

  /* shared */
  --custom-padding-value: 20px;

  /* navbar */
  --nav-button-color: #090909;
  --navbar-text-color: #a5a5a5;
  --navbar-sign-in-button-background-color: #fff;
  --navbar-sign-in-button-text-color: #232323;

  /* sidebar */
  --sidebar-navigation-background-color: #121212;

  /* basic-layout */
  --basic-layout-gradient: linear-gradient(45deg, rgba(18, 18, 18, 1) 0%, rgba(33, 33, 33, 1) 100%);

  /*section */
  --section-secondary-text-color: #b3b3b3;

  /* section-item */
  --section-item-hover-background: linear-gradient(45deg, rgb(73, 73, 73) 0%, rgb(60, 60, 60) 100%);
  --section-item-background: linear-gradient(45deg, rgb(53, 53, 53) 0%, rgb(30, 30, 30) 100%);
  --section-item-play-button-color: #1ed760;

  /* border-radius */
  --custom-border-radius: 10px;
  --page-wrapper-gap: 10px;

  /*music-player */
  --music-player-background-color: #000;
  --music-player-height: 100px;
  --music-title-container-max-width: 150px;

  --player-button-color: #b3b3b3;
  --player-button-hover-color: #ffffff;
  --player-button-active-color: #1ed76080;
  --player-button-hover-active-color: #1ed760;

  --timer-font-color: #b3b3b3;

  --progress-bar-box-shadow: 0.2px 0.2px 1px #000000, 0px 0px 0.2px #0d0d0d;
  --progress-bar-background-color: #868686;
  --progress-bar-border: 0.2px solid #010101;

  --progress-bar-slider-thumb-color: #b3b3b3;
  --progress-bar-slider-thumb-secondary-color: #535353;
  --progress-bar-slider-thumb-box-shadow: -410px 0 0 408px #b3b3b3;

  --progress-bar-slider-hover-thumb-color: #1db954;
  --progress-bar-slider-hover-thumb-box-shadow: -410px 0 0 408px #1db954;
}
