.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25%;

  &__timer {
    font-size: 0.8em;
    color: var(--timer-font-color);
    margin: 0px 10px;
  }

  &__slider-container {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    flex: 1;

    &:hover {
      .progress-bar__slider::-webkit-slider-thumb {
        background: var(--progress-bar-slider-hover-thumb-color);
        box-shadow: var(--progress-bar-slider-hover-thumb-box-shadow);
      }

      .progress-bar__slider::-moz-range-thumb {
        background: var(--progress-bar-slider-hover-thumb-color);
        box-shadow: var(--progress-bar-slider-hover-thumb-box-shadow);
      }

      .progress-bar__span-thumb {
        background: var(--progress-bar-slider-hover-thumb-color) !important;
        opacity: 1 !important;
      }
    }
  }

  &__slider {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background-color: var(--progress-bar-slider-thumb-secondary-color);
    overflow: hidden;
    border-radius: 2px;
  }

  &__slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 4px;
  }

  &__slider::-webkit-slider-thumb {
    position: relative;
    width: 4px;
    height: 4px;
    -webkit-appearance: none;
    z-index: 9;
    background: var(--progress-bar-slider-thumb-color);
    border-radius: 50%;
    box-shadow: var(--progress-bar-slider-thumb-box-shadow);
    cursor: pointer;
    border: 0;
  }

  &__slider::-moz-range-thumb {
    width: 4px;
    height: 4px;
    background: var(--progress-bar-slider-thumb-color);
    border-radius: 50%;
    box-shadow: var(--progress-bar-slider-thumb-box-shadow);
    cursor: pointer;
    border: 0;
  }

  &__slider::-moz-range-track {
    background-color: var(--progress-bar-slider-thumb-secondary-color);
  }

  &__slider::-moz-range-progress {
    background-color: var(--progress-bar-slider-thumb-color);
    height: 4px;
  }

  &__slider::-ms-fill-upper {
    background-color: var(--progress-bar-slider-thumb-secondary-color);
  }

  &__slider::-ms-fill-lower {
    background-color: var(--progress-bar-slider-thumb-color);
  }

  &__span-thumb {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }
}
