.date-field {
  div:first-of-type {
    padding: 0;
    margin: 0;
  }

  .ant-form-item-label {
    height: 30px;
  }

  &__input {
    .ant-form-item-label {
      padding: 0;
      margin: 0;
      height: 40px;
    }
  }

  &__label {
    color: white;
  }
}

.outer-form-item {
  padding: 0;
  margin: 0;
}

.ant-form-item-label {
  padding: 0;
  margin: 0;
}
