.password-reset-complete-form {
  width: 300px;

  .ant-btn {
    width: 100px;
    height: 45px;
    border: 1px solid var(--spotify-theme-color);
    background-color: var(--spotify-theme-color);
    color: var(--main-text-color);
    font-size: 0.9rem;
  }

  .ant-btn-round.ant-btn-default.ant-btn-lg.login-button:hover {
    border: 1px solid var(--spotify-theme-hover-color);
    background-color: var(--spotify-theme-hover-color);
    color: var(--main-text-color);
  }
}
