.now-played-track {
  display: flex;
  max-width: auto;

  &__informations {
    display: flex;
    width: fit-content;
    max-width: calc(100% - 70px);
    min-width: 115px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
  }

  &__title {
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__artist {
    color: var(--navbar-text-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;

    &:hover {
      color: var(--main-text-color);
      text-decoration: underline;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .now-played-track {
    display: flex;
    width: calc(50vw - 200px);
  }
}
