@keyframes scrollTitleToLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-100% + var(--music-title-container-max-width) - 50px));
  }
}

.now-played-track {
  display: flex;
  width: 300px;

  &__informations {
    min-width: var(--music-title-container-min-width);
    max-width: var(--music-title-container-max-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
  }

  &__title-container {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;

    &--overflow {
      -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0.5%, rgba(0, 0, 0, 1) 100%);
      mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0.5%, rgba(0, 0, 0, 1) 100%);

      &:hover .now-played-track__title {
        animation: scrollTitleToLeft 10s linear infinite;
        animation-delay: 1s;
      }
    }
  }

  &__title {
    display: inline-block;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: transform 10s linear;
  }

  &__artist {
    color: var(--navbar-text-color);
    background: linear-gradient(to left, transparent, black, transparent);
    font-weight: 500;
    text-decoration: none;
    font-size: 0.8rem;

    &:hover {
      color: var(--main-text-color);
      text-decoration: underline;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  @keyframes scrollTitleToLeft {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(-100% + var(--music-title-container-max-width) / 4));
    }
  }

  .now-played-track {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .now-played-track {
    display: none;
  }
}
