.custom-page-wrapper {
  display: flex;
  margin: 10px;
  min-height: 100vh;
  flex-direction: column;
}

.justify-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--custom-padding-value) 0;
}

.justify-start {
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  padding: 0;
  gap: var(--page-wrapper-gap);
  height: 100%;
}
