.custom-page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;

  .justify-center {
    justify-content: center;
    padding: 20px 0;
  }

  .justify-start {
    justify-content: start;
    padding: 0;
  }
}
