@keyframes opacityChange {
  0%,
  100% {
    opacity: 80%;
  }
  50% {
    opacity: 0%;
  }
}

.custom-artist-item-loader {
  display: flex;
  min-width: 150px;
  max-width: 200px;
  min-height: 150px;
  max-height: 200px;
  padding: var(--custom-padding-value);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--section-item-background);
  border-radius: var(--custom-border-radius);
  text-decoration: none;

  &__skeleton-text {
    width: 120px;
    height: 18px;
    border-radius: 9px;
    background: var(--section-item-hover-background);
    animation: opacityChange 3s infinite;
  }
}
